.container {
  max-width: 56rem;
  padding: 0 1rem;
  margin: 3rem auto 0rem;
}

.header {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem 0 1rem 0;
}

.headerIntroSide {
  flex: 0 0 51%;
  display: grid;
  grid-template-rows: 35px 65px;
  grid-template-columns: 86px 1fr;
}

.headerIntroImage {
  cursor: pointer;
  width: 66px;
  height: 100px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.headerIntroText {
  place-self: end;
}

.backToHome {
  margin: 3rem 0 0;
}

.headerNavSide {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.headerLinksList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.headerLinksListItem {
  margin: 0 0.5rem 0 0.5rem;
}

.footerIntroSide {
  flex: 1 0 60%;
  display: grid;
  grid-template-rows: 35px auto;
  grid-template-columns: 86px 1fr;
}

.footerNavSide {
  flex: 1 0 40%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
} 

.footerLinks {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.email {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.footerImage {
  margin-bottom: 1rem;
  width: 66px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footerNavLogo {
  width: 48px;
  height: 48px;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  margin: 3rem 0 3rem 0;
}

.introTextSm {
  display: none;
}

@media only screen and (max-width: 975px) {
  .headerIntroText {
    display: none;
  }

  .introTextSm {
    font-size: 0.85rem;
    width: 100%;
    display: block;
    text-align: center;
  }

  .headerIntroSide {
    flex: 1 0 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .headerIntroImage {
    cursor: pointer;
    width: 44px;
    height: 67px;
    margin-right: 1rem;
  }

  .headerNavSide {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 850px) {
  .footerText {
    text-align: center;
    margin-bottom: 1rem;
  }
  .footerIntroSide {
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1rem;
  }

  .footerLinks, .email {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 542px) {
  .header {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0 1rem 0;
  }

  .headerIntroText {
    display: none;
  }

  .headerIntroSide {
    flex: 1 0 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .headerIntroImage {
    cursor: pointer;
    width: 44px;
    height: 67px;
    margin-right: 1rem;
  }

  .headerNavSide {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-flow: row wrap;
    margin: 3rem 0 3rem 0;
    justify-content: center;
  }

  .footerIntroSide {
    flex: 1 0 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1rem;
  }

  .footerNavSide {
    flex: 0 0 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  } 

  .footerText {
    text-align: center;
  }

  .footerLinks {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
}

@media only screen and (max-width: 350px) {
 .footerNavLogo {
   width: 32px;
   height: 32px;
 }
}